/* Breakpoints */

$tablet-width: 768px;
$desktop-width: 1024px;
$customWidth: 955px;


@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin customWidth ($width: $customWidth) {
  @media (min-width: #{$width}) {
    @content;
  }
}
