/* Layout */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.region-header,
.region-subheader,
.region-content,
.region-footer {
  max-width: 1200px;
  margin: 0 auto;
}
