/* Messages */

$message_status_color: #00df73;
$message_warning_color: #f1a622;
$message_error_color: #d72c2c;

 $mainMargin: 20px;

.messages {
  margin-bottom: 40px;
  color: white;
  border: 0;
  box-shadow: none;
  background-image: none;
  padding:0;

  &:before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: $mainMargin/2;
    vertical-align: middle;
  }

  .message-content {
    display: inline-block;
    padding-left: $mainMargin;
  }
}

.messages--error {
  background-color: $message_error_color;

  &:before {
    background: darken($message_error_color, 10%) url(../images/error-icon.svg) center center no-repeat;
    background-size: 60% 60%;
  }
}

.messages--status {
  background-color: $message_status_color;

  &:before {
    background: darken($message_status_color, 10%) url(../images/status-icon.svg) center center no-repeat;
    background-size: 60% 60%;
  }
}

.messages--warning {
  background-color: $message_warning_color;

  &:before {
    background: darken($message_warning_color, 10%) url(../images/warning-icon.svg) center center no-repeat;
    background-size: 60% 60%;
  }
}
