/* Style SCSS */
/* Colors */
/* Custom fonts */
/* Layout */
.region-header,
.region-subheader,
.region-content,
.region-footer {
  max-width: 1200px;
  margin: 0 auto; }

/* Elements */
img {
  width: 100%;
  height: auto; }

/* Navigation */
.block-menu .menu li {
  display: inline; }
.block-menu .menu a {
  text-decoration: none; }

/* STARTERKIT Styles */
